@import url('https://fonts.googleapis.com/css2?familty=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

html{
    font-size: 62.5%;
}

/* Media Quaries */
@media(max-width: 998px){
    html{
        font-size: 55%;
    }
}

@media(max-width: 768px){
    html{
        font-size: 45%;
    }
    .container, .menu-bar, .background img{
        width: 150%;
    }
}

/* WEB DESIGN */
.container{
    margin-top: -4.0rem;
    width: 100%;
    height: 25.0rem;
    position: relative;
}
.container video{
    width: 100%;
    height: 100%;
}
.text-box{
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10.0rem;
    font-weight: 900;
    mix-blend-mode: multiply;
}
.text-box h1{
    font-size: 13.2rem;
}

/* MENU BAR */
.menu-bar{
    font-size: 1.6rem;
    width: 100%;
    background: rgb(0,100,0);
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li{
    width: 15.0rem;
    margin: 1.5rem;
    padding: 1.5rem;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover{
    background: #2bad0d;
    border-radius: .3rem;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgb(0,100,0);
    margin: 1.5rem 0 0 -1.5rem;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 1.0rem;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 10.0rem;
    padding: 1.0rem;
    border-bottom: .1rem dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: #b2ff00;
}
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin: -4.0rem 0 0 11.0rem;
    background: rgb(0,100,0);
}

/* Background Image */
.background{
    background-size: cover;
}

/* IMAGE SLIDER */
.slider{
    margin-left: 23.5%;
    width: 80.0rem;
    height: 50.0rem;
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    background: #23E3C9;
}
.slides{
    width: 500%;
    height: 50.0rem;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 80.0rem;
    height: 50.0rem;
}
.navigation-manual{
    position: absolute;
    width: 80.0rem;
    margin-top: -4.0rem;
    margin-bottom: 2.0rem;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: .2rem solid #40D3DC;
    padding: .5rem;
    border-radius: 1.0rem;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 4.0rem;
}
.manual-btn:hover{
    background: #40D3DC;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

/* WHOLE BODY CONTENT */
.container-1{
    font-size: 1.6rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}
